#tekst{
    margin-top: 5px;
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px 5px #ff0000;
    color: rgb(255, 255, 255);

}

#tekst2{
    font-size: 31px;
    text-shadow: 2px 2px 5px #fffb00;
}

#logo{
    height: 500px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#amd{
    margin-top: 170px;
}
 
#intel{
    height: 400px;
    width: 400px;
}

#steel{
    margin-top: 170px;
}

#msi{
    margin-top: 120px;
}

#corsair{
    margin-top: 130px;
}

#main{
    color: azure;
}